.navbar {
  padding: 0.5rem 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 80vw;
  /* giới hạn chiều ngang */
  margin: 0 auto;
}

.navbar-brand img {
  height: 2.8rem;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #d1d5db;
}

.nav-link.active {
  color: #ccc;
  font-weight: 700;
}

@media (max-width: 64rem) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-collapse {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 1.5rem;
  }
}